# Python
__pycache__/
*.py[cod]

# Ambiente Virtual
venv/
env/

# Banco de dados (opcional: geralmente não se sobe o banco, mas para trabalho escolar pode ser útil)
# Se quiser não subir o banco, descomente a linha abaixo:
# db.sqlite3